[Unit]
Description=X11 background previewer and setter
Documentation=man:nitrogen(1)
After=default.target
Requires=default.target

StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 1.5
ExecStart=/usr/bin/nitrogen --restore

#ExecReload=kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
KillMode=process

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes

# force terminate on logout
RemainAfterExit=false

[Install]
WantedBy=default.target
