.bash_history
.netrc
.config/Atomic?TweetDeck
.config/btop/btop.log
.config/celluloid
.config/chromium
.config/Code
.config/configstore
.config/dconf
.config/docker/config.json
.config/dolphinrc
.config/Electron
.config/Element
.config/FreeTube
.config/gedit
.config/gh
.config/go
.config/gpick
.config/instaloader
.config/janbar
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/knfsshare
.config/libreoffice
.config/libvirt
.config/mozilla
.config/mpv
.config/nautilus
.config/Nextcloud
.config/nvim/bundle
.config/obs-studio
.config/okularpartrc
.config/okularrc
.config/oh-my-zsh
.config/pavucontrol.ini
.config/picom/logs
.config/pipewire
.config/protonmail
.config/pulse/cookie
.config/qt5ct
.config/rclone/rclone.conf
.config/Slack
.config/spotify-tui/client.yml
.config/thunderbird
.config/transmission
.config/Twitch
.config/VIA
.config/wireshark
.config/xournalpp
.config/zoomus.conf
.config/zsh/.zcompdump
.config/zsh/.zcompdump-*
.config/zsh/.zhistory
