.config/zsh/.zhistory
.config/gpick/autosave.gpa
.config/gpick/user_init.lua
.config/docker/config.json
.config/pipewire/media-session.d/restore-stream
.zhistory
.bash_history
pipewire/media-session.d
docker/config.json
spotify-tui/client.yml
.zcompdump*
.netrc

